.top-header {
  text-align: center;
  color: black;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 40px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* background-image: url("grass.jpg"); */
}

.bottomLinks {
  font-size: 40px;
  display: flex;
  align-items: center;
}

.playerSelection{
  position: relative;
  bottom: 500px;
  width: 200px;
  left: 865px;
}