.top-header {
  text-align: center;
  color: black;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 40px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rbGMAGytlGjahhgrii/videoblocks-soccer-ball-rotates-against-the-stadium-background-in-the-left-side-with-space-for-title-logo-or-score-background-4k-ultra-hd-football-seamless-looping-3d-animation_bommdq9xtg_thumbnail-full01.png");
}

.bottomLinks {
  font-size: 40px;
  display: flex;
  align-items: center;
}
.fa-github:before {
  color: black;
  padding-right: 50px;
}

.fa-linkedin:before {
  color: black;
  padding-right: 50px;
}

.fa-angellist:before {
  color: black;
}

.playerSelection {
  position: relative;
  bottom: 490px;
  width: 200px;
  left: 400px;
}

#description{
  
}